.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Toolbox {
  display: flex;
  flex-direction: row;

  flex-grow: 1;
}

.IdentityBrowser {
  flex-grow: 6;
}

.IdentityBrowser .avatar {
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  border: 1px solid #23FFFF;
  margin: 0.5em;
  margin-right: 1em;
}

.IdentityBrowser label {
  margin-right: 1em;
}

.KnowledgeBase {
  flex-grow: 1;
}

.InferenceEngine {
  flex-grow: 1;
}

.ProcessSelector {
  flex-grow: 1;
}

.Output {
  flex-grow: 0.25;
  font-size: 1.5em;
}

.Visualizer {
  display: flex;
  flex-direction: column;
  min-height: 0;

  flex-grow: 3;
  margin-bottom: 0.1em;
}

.DialogueTreeVisualizer {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;

  overflow-y: hidden;
  overflow-x: auto;
}

.DialogueTreeVisualizer::-webkit-scrollbar {
  width: 1em;
}
 
.DialogueTreeVisualizer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #4144C1;
}
 
.DialogueTreeVisualizer::-webkit-scrollbar-thumb {
  background-color: #0C5255;
  outline: 1px solid #23FFFF;
}

.WordList {
  display: inline-block;
  list-style: none;
  padding-right: 0.5em;
  margin-right: 2em;
  min-width: 100px;
  overflow-y: auto;
}

.WordList::-webkit-scrollbar {
  width: 1em;
}
 
.WordList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #4144C1;
}
 
.WordList::-webkit-scrollbar-thumb {
  background-color: #0C5255;
  outline: 1px solid #23FFFF;
}

.WordList li {
  display: block;
  border: 1px solid white;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em 0;
  padding: 0.25em 0;
  background: #20303A;
}

.WordList li.selected {
  color: #23FFFF;
  font-size: 1.5em;
  text-transform: lowercase;
  padding: 2em 0;
  background: #32454D;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 0.5em;
}

.WordList li:hover {
  background: #23FFFF;
  color: black;
  filter: drop-shadow(10px 5px 4px #4444dd);
}
