.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Toolbox {
  display: flex;
  flex-direction: row;

  flex-grow: 1;
}

.IdentityBrowser {
  flex-grow: 3;
  background: red;
}

.KnowledgeBase {
  flex-grow: 1;
  background: blue;
}

.InferenceEngine {
  flex-grow: 1;
  background: yellow;
}

.ProcessSelector {
  flex-grow: 1;
  background: green;
}

.Output {
  flex-grow: 0.5;
  background: orange;
}

.Visualizer {
  flex-grow: 3;
  background: purple;
  margin-bottom: 1em;
}