.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Toolbox {
  display: flex;
  flex-direction: row;

  flex-grow: 1;
}

.IdentityBrowser {
  flex-grow: 3;
}

.IdentityBrowser .avatar {
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  border: 1px solid #23FFFF;
  margin: 0.5em;
}

.KnowledgeBase {
  flex-grow: 1;
}

.InferenceEngine {
  flex-grow: 1;
}

.ProcessSelector {
  flex-grow: 1;
}

.Output {
  flex-grow: 0.5;
  background: orange;

  font-size: 1.5em;
}

.Visualizer {
  flex-grow: 3;
  background: purple;
  margin-bottom: 1em;
}